@import 'tailwindcss';
@import '@fontsource-variable/roboto';

@plugin '@tailwindcss/typography';

body {
    --bg-dark: oklch(0.92 0.025 255);
    --bg: oklch(0.96 0.025 255);
    --bg-light: oklch(1 0.025 255);
    --text: oklch(0.15 0.05 255);
    --text-muted: oklch(0.4 0.05 255);
    --highlight: oklch(1 0.05 255);
    --border: oklch(0.6 0.05 255);
    --border-muted: oklch(0.7 0.05 255);
    --primary: oklch(0.4 0.1 255);
    --secondary: oklch(0.4 0.1 75);
    --danger: oklch(0.5 0.05 30);
    --warning: oklch(0.5 0.05 100);
    --success: oklch(0.5 0.05 160);
    --info: oklch(0.5 0.05 260);

    background-color: var(--bg-dark);
    color: var(--text);
    font-family: 'Roboto Variable', sans-serif;
}

body.dark {
    --bg-dark: oklch(0.1 0.025 255);
    --bg: oklch(0.15 0.025 255);
    --bg-light: oklch(0.2 0.025 255);
    --text: oklch(0.96 0.05 255);
    --text-muted: oklch(0.76 0.05 255);
    --highlight: oklch(0.5 0.05 255);
    --border: oklch(0.4 0.05 255);
    --border-muted: oklch(0.3 0.05 255);
    --primary: oklch(0.76 0.1 255);
    --secondary: oklch(0.76 0.1 75);
    --danger: oklch(0.7 0.05 30);
    --warning: oklch(0.7 0.05 100);
    --success: oklch(0.7 0.05 160);
    --info: oklch(0.7 0.05 260);
    
    background-color: var(--bg);
    color: var(--text);
}